@import "../../styles/variables";
@import "../../styles/mixins";

.breed-list {
  &__element {
    cursor: pointer;

    &:hover {
      color: $c-primary;
    }

    &:not(:first-child) {
      padding-top: px2rem(4);
    }

    &:not(:last-child) {
      padding-bottom: px2rem(4);
    }
  }
}